In [1]:
#importing libraries
import numpy as np   #data set numerical operation
import matplotlib.pyplot as plt #plotting graphs
import pandas as pd  #series of data

In [42]:
#importing dataset
dataset=pd.read_csv('Data.csv')
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [43]:
X=dataset.iloc[:,:-1].values #independent dataset
X
#y=dataset.iloc[:,3].values   #dependent dataset(Purchased)

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [44]:
np.shape(X)

(10, 3)

In [35]:
y=dataset.iloc[:,3].values
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [13]:
#from sklearn.impute import SimpleImputer

In [22]:
#sklearn->contains lare number of librries for machine learning applicaton\
#preprocessing->library contains methods, classes for preprocessing the data set
#imputer->class,allow as to take care of missing  values in the data set


from sklearn.impute import SimpleImputer   #adding impurity to the dataset where missing values are present
imputer=SimpleImputer (missing_values=np.nan,strategy='mean') #filling the misiing places with mean value of that particular coloumn(coulumnwise)
imputer=imputer.fit(X[:,1:3])  # check only col 1& 2.in mean computation done is applied or fit to 1st and 2nd coloumns it will check for NANa in these 2 columns
X[:,1:3]=imputer.transform(X[:,1:3]) #copies computed values to original array

In [23]:
X

array([[0, 44.0, 72000.0],
       [2, 27.0, 48000.0],
       [1, 30.0, 54000.0],
       [2, 38.0, 61000.0],
       [1, 40.0, 63777.77777777778],
       [0, 35.0, 58000.0],
       [2, 38.77777777777778, 52000.0],
       [0, 48.0, 79000.0],
       [1, 50.0, 83000.0],
       [0, 37.0, 67000.0]], dtype=object)

In [45]:
from sklearn.impute import SimpleImputer   #adding impurity to the dataset where missing values are present
imputer=SimpleImputer (missing_values=np.nan,strategy='most_frequent') #filling the misiing places with mostFrequent value of that particular coloumn(coulumnwise)
imputer=imputer.fit(X[:,1:3])  # check only col 1& 2.in mean computation done is applied or fit to 1st and 2nd coloumns it will check for NANa in these 2 columns
X[:,1:3]=imputer.transform(X[:,1:3]) #copies computed values to original array

In [46]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 48000.0],
       ['France', 35.0, 58000.0],
       ['Spain', 27.0, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [36]:
from sklearn.impute import SimpleImputer   #adding impurity to the dataset where missing values are present
imputer=SimpleImputer (missing_values=np.nan,strategy='constant') #filling the misiing places with constant value of that particular coloumn(coulumnwise)
imputer=imputer.fit(X[:,1:3])  # check only col 1& 2.in mean computation done is applied or fit to 1st and 2nd coloumns it will check for NANa in these 2 columns
X[:,1:3]=imputer.transform(X[:,1:3]) #copies computed values to original array

In [37]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 'missing_value'],
       ['France', 35.0, 58000.0],
       ['Spain', 'missing_value', 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [47]:
#categorical data and there are missing vlues
#encoding categorical data
#encoding independent variable

from sklearn.preprocessing import LabelEncoder, OneHotEncoder

labelencoder_X=LabelEncoder()
X[:,0]=labelencoder_X.fit_transform(X[:,0]) #fit is something which is going to learn fit_transform learn and then transfom

In [48]:
X

array([[0, 44.0, 72000.0],
       [2, 27.0, 48000.0],
       [1, 30.0, 54000.0],
       [2, 38.0, 61000.0],
       [1, 40.0, 48000.0],
       [0, 35.0, 58000.0],
       [2, 27.0, 52000.0],
       [0, 48.0, 79000.0],
       [1, 50.0, 83000.0],
       [0, 37.0, 67000.0]], dtype=object)